:root {
  font-size: 62.5%;
  --bg-color: #161616;
  --text-color: #fed6b2;
  --orange-500: #d16400;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

body {
  /* height: 100vh; */
  background-color: var(--bg-color);
  font-size: 1.6rem;
  cursor: none;
}

#app {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div h1 {
  color: var(--white);
  font-size: 8rem;
}

div h1 span,
.error404 h2 span {
  color: var(--orange-500);
}

div input {
  width: 30rem;
  height: 4rem;
  border-radius: 0.4rem;
  border: none;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 5rem;
  font-weight: 700;
}

h1 span,
h2 span {
  transition: all 0.2s ease-in-out;
}

#voltar {
  padding: 1rem 3rem;
  font-weight: 700;
  font-size: 3rem;
  background-color: var(--orange-500);
  color: var(--white);
  border: none;
  border-radius: 0.4rem;
  margin-top: 5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#search {
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 2rem;
  background-color: var(--orange-500);
  color: var(--white);
  border: none;
  border-radius: 0.4rem;
  margin-top: 5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#search:hover,
h1 span:hover,
#voltar:hover,
h2 span:hover {
  transform: scale(1.1);
  filter: contrast(150%);
}

.options {
  max-width: 40rem;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

.options button {
  padding: 1rem 1rem;
  font-weight: 700;
  font-size: 1.6rem;
  background-color: var(--white);
  color: var(--orange-500);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.options button:hover {
  color: var(--white);
  background-color: var(--orange-500);
}

.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error404 h2 {
  color: var(--white);
  font-size: 5rem;
  margin-bottom: 5rem;
}

.error404 p {
  color: var(--white);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.home img {
  display: flex;
  align-items: center;
  justify-content: center;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  inset: 0;
  opacity: 0.8;
}

nav {
  width: 100%;
  z-index: 9999;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  margin-top: 2%;
}

#logo {
  transition: transform 0.3s ease-in-out;
}

#logo:hover {
  transform: rotate(180deg) scale(1.1);
}

.footer-number {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-number p {
  color: var(--white);
  font-size: 2rem;
  position: absolute;
  bottom: 5%;
}

.arrow {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  margin-bottom: 10rem;
}

.right {
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

.invisible {
  width: 0;
  height: 0;
  visibility: hidden;
}

table .tbody-temp p {
  color: var(--white);
  font-size: 2rem;
  font-weight: 700;
}

.tabletemp {
  background-color: var(--bg-color);
  padding: 10rem 5rem;
}

#menu-open {
  position: fixed;
  z-index: -1;
  right: -15%;
  top: 5%;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

#menu-open.animate {
  transform: scale(1.5) rotate(-205deg);
}

.feedback {
  color: var(--white);
  text-align: end;
  font-size: 3rem;
  font-weight: 700;
}

.left,
.right {
  padding: 10rem 2rem;
  border: none;
  color: var(--white);
  background: none;
  cursor: pointer;
}

.container-table {
  position: absolute;
  right: 5rem;
  top: 15rem;
}

#mail {
  width: 5rem;
  height: 5rem;
}

.feedback-container {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 5rem;
  gap: 2rem;
}

.preview {
  width: 100rem;
  height: 50rem;
  object-fit: cover;
}

.center-view {
  z-index: -1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.play-text {
  color: var(--white);
  font-size: 2.5rem;
  padding: 1rem 0;
  margin-top: 2rem;
  font-weight: 700;
}

.play-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arrow button {
  background-color: none;
  background: none;
  border: none;
}

.left-video,
.right-video,
.right, .left {
  background: none;
  z-index: 5;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
}

.right-video,
.right {
  transform: rotate(180deg);
}

.left-video:hover,
.left:hover {
  opacity: 1;
  transform: scale(1.2);
}
.right-video:hover,
.right:hover {
  opacity: 1;
  transform: rotate(180deg) scale(1.2);
}
