table * {
  font-size: 1.4rem;
  color: var(--text-color);
}

table th {
  /* background: var(--primary-color); */
  text-align: left;
  font-weight: normal;
  padding: 1.5rem;
}


table td {
  padding: 1.5rem;
  text-align: left;
}


td.table a {
  text-decoration: none;
}

td.table a p {
  font-weight: bold;
}

td.table a p:hover {
  color: white;
  transform: scale(1.2);
}

td.user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

td.table {
  padding: 2rem;
}

td.table::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

td {
  background-color: var(--bg-color);
  filter: contrast(95%);
  margin-bottom: 2rem;
  padding: 2rem;
}

tr {
  background-color: var(--bg-color);
}

#table {
  background-color: var(--bg-color);
  padding: 2rem;
}
