/* .cursor-dot {
    height: 5px;
    width: 5px;
    background: white;
}

.cursor-dot-outline {
    height: 25px;
    width: 25px;
    border: 2px solid hsla(0, 0%, 100%, 0.5);
}

.cursor-dot,
.cursor-dot-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
} */

/* html */

/*  
    <div class="cursor-dot"  data-cursor-dot></div>
    <div class="cursor-dot-outline" data-cursor-outline></div>
*/

/* .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  } */

  /* Geometric animation */
  /* #geometric {
    position: fixed;
  }
  
  #geometric.left {
    left: auto;
    animation: left 1s ease-in-out forwards;
  }
  
  #geometric.right {
    right: auto;
    animation: right 1s ease-in-out forwards;
  }
  
  #geometric.leftCenter {
    left: auto;
    animation: leftCenter 1s ease-in-out forwards;
  }
  
  #geometric.rightCenter {
    right: auto;
    animation: rightCenter 1s ease-in-out forwards;
  }
  
  @keyframes right {
    100% {
      transform: translateX(125%) scale(1.5) rotate(360deg);
    }
  }
  
  @keyframes left {
    100% {
      transform: translateX(-125%) scale(1.5) rotate(-360deg);
    }
  }
  
  @keyframes rightCenter {
    0% {
      transform: translateX(125%) scale(1.5) rotate(360deg);
    }
    100% {
      transform: translateX(0%) scale(1) rotate(0deg);
    }
  }
  
  @keyframes leftCenter {
    0% {
      transform: translateX(-125%) scale(1.5) rotate(-360deg);
    }
    100% {
      transform: translateX(0%) scale(1) rotate(0deg);
    }
  } */